.body--light {
  background-color: #e1f4ff;
}

.bg-input {
  background-color: #e1f4ff;
}

.botao {
  width: 100px !important;
}

.aviso {
  position: fixed !important;
  bottom: 20px !important;
}

.menu-toolbar {
  font-size: large !important;
}

.max-width-100 {
  min-width: 100% !important;
  max-width: 100% !important;
}

.max-height-100 {
  min-height: 100% !important;
  max-height: 100% !important;
}

.dialog-width {
  min-width: 60% !important;
  max-width: 60% !important;
}

.dialog-height {
  min-height: 90% !important;
  max-height: 90% !important;
}

.max-width-95 {
  max-width: 90% !important;
}

.filtro {
  min-height: 100px !important;
  max-height: 100px !important;
}

.tela-full-hd {
  min-height: 690px !important;
  max-height: 690px !important;
}

.tela-hd {
  min-height: 590px !important;
  max-height: 590px !important;
}

.tabela-full-hd {
  min-height: 450px !important;
  max-height: 450px !important;
}

.tabela-hd {
  min-height: 360px !important;
  max-height: 360px !important;
}

.editor-full-hd {
  min-height: 400px !important; 
  max-height: 400px !important;
}

.editor-hd {
  min-height: 280px !important; 
  max-height: 280px !important;
}

.pm-none {
  padding: 0;
  margin: 0;
}

input[type="number"] {
  appearance: textfield !important;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
}
