.body--light {
  background-color: #e1f4ff;
}

.bg-input {
  background-color: #e1f4ff;
}

.botao {
  width: 130px !important;
}

.aviso {
  position: fixed !important;
  bottom: 20px !important;
}

.menu-toolbar {
  font-size: large !important;
}

.max-width-100 {
  min-width: 100% !important;
  max-width: 100% !important;
}

.max-height-100 {
  min-height: 100% !important;
  max-height: 100% !important;
}

.dialog-width {
  min-width: 60% !important;
  max-width: 60% !important;
}

.dialog-height {
  min-height: 90% !important;
  max-height: 90% !important;
}

.max-width-95 {
  max-width: 90% !important;
}

.filtro {
  min-height: 100px !important;
  max-height: 100px !important;
}

.tela-full-hd {
  min-height: 700px !important;
  max-height: 700px !important;
}

.tela-hd {
  min-height: 600px !important;
  max-height: 600px !important;
}

.tabela-full-hd {
  min-height: 460px !important;
  max-height: 460px !important;
}

.tabela-hd {
  min-height: 350px !important;
  max-height: 350px !important;
}

.editor-full-hd {
  min-height: 320px !important; 
  max-height: 320px !important;
}

.editor-hd {
  min-height: 270px !important; 
  max-height: 270px !important;
}

.pm-none {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 5px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: $negative;
}

*::-webkit-scrollbar-track {
  background: $dark;
}

input[type="number"] {
  appearance: textfield !important;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
}
