$dark-page : #142b39;
$dark      : #1b3549;

$bg-input  : #e1f4ff;

$primary   : #244963;
$secondary : #4182ac;
$info      : #c6e1f2;

$accent    : #daa6e3;
$positive  : #87c7ff;
$negative  : #e45e5d;
$warning   : #f8ffa7;
